#quemsomos{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
.historia{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

#produtos{
    padding-top: 45px;
    padding-bottom: 109px;
    background-color: #fff;
}
.margemProduto{
    margin-top: 20px;
}

#orcamento{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #2C3E50;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 1px;
}
#euIndico{
    padding-top: 80px;
    padding-bottom: 100px;
    background: url(../imagem/bg-cinza.jpg);
}
#eventos{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #80e5ff;
}
#faleconosco{
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: #e8b032;
    min-width: 1170px;
}
#corpo{
    margin-bottom: 72px;
}

.rodape{
	background-color:#2C3E50;
}
.copy{
    margin-top: 10px;
    color: #fff;
}
.contato{
    color: #fff;
}
.btn-social {
     display: inline-block; 
     text-align: center;  
     line-height: 20px;
}
.btn-outline {
     color: #fff;
     font-size: 22px;
     transition: all .3s ease-in-out; 
     margin-top: 5px;
}
.error{
    color:red;
}
.error-produto{
	padding-left: 30px;
}  
#redesocial{
    text-align: center;
}

.titulosessao{
   font-size: 26px;
}
.margem-botao{
    margin-bottom: 15px;
}
@media (min-width: 768px) {
    #quemsomos{    
        padding-bottom: 90px;
    }
    .historia{
        margin-top: 50px;
        margin-left: 22px;
        margin-right: 22px;
        font-size: 21px;
    }
	.error-produto{
		padding-left: 21px;
	} 
}
.espaco-top{
    padding: 20px 0px;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


